/* здесь используйте глобальные переменные */
$basic-white: #ffffff;
$basic-black: #000000;
$primary-dark-gray: #444444;
$secondary-dark-gray: #111111;
$secondary-dark-gray-2: #222222;
$basic-green: #68b738;
$basic-light-gray: #f2f2f2;
$basic-gray: #d9d9d9;
$secondary-gray: #eaeaea;
