.examples {
  padding: 25px 0 40px;
  background-color: #eaeaea;
}

.examples__description-container {
  width: 87%;
  margin: 0 auto;
}

.examples__title {
  margin: 0;

  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.examples__text {
  font-size: 16px;
  line-height: 24px;
}

.examples__stats-container {
  @include flex();
  position: relative;

  width: 44%;
  padding: 14px 0 18px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.examples__stats {
  @include flex(row, space-between, center);

  margin-bottom: 34px;
}

.examples__number {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-transform: uppercase;
}

.examples__description {
  position: absolute;
  transform: translateY(100%) translateY(8px) translateX(-20px);

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
  box-shadow: 0 0 0 5px #eaeaea;
}

.examples__summary {
  width: 100%;

  font-family: $oswald-font;
  line-height: 20px;
  text-align: center;
}

.examples__image-container {
  width: 87%;
  margin: 0 auto;
}

.examples__image {}

.examples__switch {
  position: relative;
  display: block;

  width: 40px;
  height: 40px;

  border: 2px solid $basic-dark-gray;
  border-radius: 50%;
  background-color: $basic-white;
  cursor: pointer;
}

.examples__switch::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-50%);

  width: 24px;
  height: 18px;

  mask-image: url("../../icons/stack.svg#slider-arrows");
  mask-repeat: no-repeat;
  background-color: $basic-dark-gray;
}

@media (min-width: $tablet-width) {
  .examples {
    padding: 45px 0 0;

    border-top: 1px solid #e6e6e6;
    background-color: $basic-white;
  }

  .examples__description-container {
    @include flex(row, space-between, center);
    flex-wrap: wrap;

    width: 92%;
  }

  .examples__title {
    width: 92%;
    margin: 0 auto;
  }

  .examples__text {
    width: 100%;
  }

  .examples__stats {
    width: 50%;
    margin-bottom: 0;
  }

  .examples__stats-container {
    width: 44%;
    padding: 15px 0 20px;
  }

  .examples__description {
    transform: translateY(100%) translateY(20px) translateX(-20px);

    background-color: $basic-white;
    box-shadow: 0 0 0 10px $basic-white;
  }

  .examples__summary {
    width: 25%;
  }
}

@media (min-width: $desktop-width) {
  .examples {
    width: 100%;
  }

  .examples__title {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 76px;
  }

  .examples__description-container {
    display: grid;
    grid-template-columns: 1fr 30% 55% 1fr;
    grid-template-rows: 1fr;

    width: 100%;
    padding: 70px 0 75px;

    background-color: $basic-light-gray;
  }

  .examples__text {
    grid-column: 2 / 3;
  }

  .examples__stats {
    grid-column: 2 / 3;
    justify-content: flex-start;
    gap: 10%;

    width: 100%;
    margin-bottom: 0;
  }

  .examples__stats-container {
    width: 37%;
    padding: 15px 0 20px;
  }

  .examples__description {
    background-color: $basic-light-gray;
    box-shadow: 0 0 0 10px $basic-light-gray;
  }

  .examples__summary {
    width: 50%;
    grid-column: 2 / 3;
  }

  .examples__image-container {
    position: absolute;
    top: 100%;
    left: 50%;
  }
}
