.main-header {
  @media (min-width: $tablet-width) {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    width: $tablet-container-width;
    margin: 0 auto;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
    margin-top: 55px;
    margin-bottom: 29px;
  }
}

.main-header__container {
  display: grid;
  grid-template-columns: 12% 20% 36% 32%;
  place-items: center center;
  width: $mobile-container-width;
  margin: 13px auto 15px;

  @media (min-width: $tablet-width) {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    width: 25%;
    margin: 0;
  }
}

.main-header__logo-image-link {
  grid-column: 1 / 2;
  justify-self: start;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__logo-text-link {
  grid-column: 3 / 4;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__nav {
  @media (min-width: $tablet-width) {
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 39%;
  }
}

.main-header__toggle {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 33px;
  right: 5%;
  background-color: $basic-black;
  border: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    top: 6px;
    z-index: 2;
    background-color: $basic-black;
  }

  &::after {
    top: 6px;
  }

  &::before {
    top: -6px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__nav--opened .main-header__toggle {
  transform: rotate(-45deg);
}

.main-header__nav--opened .main-header__toggle::after {
  transform: rotate(90deg);
  top: 0;
}

.main-header__nav--opened .main-header__toggle::before {
  display: none;
}

@media (max-width: $mobile-width-max) {
  .main-header__nav--closed .main-nav__list {
    display: none;
  }

  .main-header__nav--opened .main-nav__list {
    position: absolute;
    width: 100%;
    background-color: $basic-white;
  }
}

.main-header__nav--nojs .main-nav__list {
  position: static;
}
